<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <a class="navbar-brand" href="/">
        <button style="padding:0" id="search-button" onclick="window.location.href = '/'" class="btn btn-primary">
                <img  src="/img/390.png" alt="Home">
        </button>
    </a>
    
    <a class="navbar-brand btn btn-primary" href="/about">About</a>
  

   
</div>